In [9]:
entries = ['one', 2, 'three', False]

In [10]:
print(entries)

['one', 2, 'three', False]

In [12]:
print(type(entries))

<class 'list'>

In [13]:
print(entries[:2])

['one', 2]

In [14]:
print(entries[2:6])

['three', False]

In [16]:
print(entries[2:7])

['three', False]

In [17]:
print(entries[7])

IndexError: list index out of range

In [18]:
print(entries)

['one', 2, 'three', False]

In [19]:
del entries[2:5]

In [20]:
print(entries)

['one', 2]

In [21]:
entryTuple = (100, 200, 'three', 'four')
print(entryTuple)

(100, 200, 'three', 'four')

In [24]:
print(type(entryTuple))

<class 'tuple'>

In [27]:
del list # this is to avoid shadowing
entryList = list(entryTuple)

In [28]:
print(entryList)

[100, 200, 'three', 'four']

In [34]:
cities = ['Toronto', 'Monteal', 'Vancouver']
print(cities)

['Toronto', 'Monteal', 'Vancouver']

In [35]:
print(max(cities))

Vancouver

In [36]:
cities = ['Toronto', 'Monteal', 'Vancouver', 456]
print(cities)

['Toronto', 'Monteal', 'Vancouver', 456]

In [37]:
print(max(cities))

TypeError: '>' not supported between instances of 'int' and 'str'

In [38]:
numbers = [1, 2, 2, 5, 6, 6, 7]
print(numbers)

[1, 2, 2, 5, 6, 6, 7]

In [39]:
print(numbers.count(2))

2

In [40]:
print(numbers.count(1))

1

In [41]:
print(numbers.count(9))

0

In [42]:
print(numbers.index(2))

1

In [43]:
print(numbers.index(6))

4

In [44]:
entries = [45, 'one', 'two', False]
print(entries)

[45, 'one', 'two', False]

In [45]:
entries.sort()
print(entries)

TypeError: '<' not supported between instances of 'str' and 'int'

In [48]:
entries = [123, 'xyz', 'zara', 'abc', 'xyz']
entries.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
entries = [12, 575, 34, 56]
print(entries)

[12, 575, 34, 56]

In [52]:
print(type(entries))
entries.sort()
print(entries)

<class 'NoneType'>

AttributeError: 'NoneType' object has no attribute 'sort'

In [54]:
enList = [23, 4, 56, 4, 34]
print(type(enList))

<class 'list'>

In [55]:
enList.sort()

In [56]:
print(enList)

[4, 4, 23, 34, 56]

More sorting details can be found here:
<br> https://docs.python.org/3/howto/sorting.html

In [57]:
users = [
    ('Anders', 'A', 21),
    ('Balmer', 'B', 45),
    ('Stephe', 'S', 24)
]

print(users)

[('Anders', 'A', 21), ('Balmer', 'B', 45), ('Stephe', 'S', 24)]

In [58]:
print(type(users))

<class 'list'>

In [59]:
sorted(users, key = lambda x: x[2])

[('Anders', 'A', 21), ('Stephe', 'S', 24), ('Balmer', 'B', 45)]

In [60]:
sorted(users, key = lambda x: -x[2])

[('Balmer', 'B', 45), ('Stephe', 'S', 24), ('Anders', 'A', 21)]

In [61]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return repr((self.name, self.age, self.salary))

In [62]:
employees = [
    Employee('Peter', 21, 6),
    Employee('Kevin', 22, 4),
    Employee('Simon', 21, 8)
]

print(employees)

[('Peter', 21, 6), ('Kevin', 22, 4), ('Simon', 21, 8)]

In [63]:
sorted(employees, key = lambda e: e.salary)

[('Kevin', 22, 4), ('Peter', 21, 6), ('Simon', 21, 8)]

In [69]:
sorted(employees, key = lambda e: -e.salary)

[('Simon', 21, 8), ('Peter', 21, 6), ('Kevin', 22, 4)]

In [74]:
from operator import itemgetter, attrgetter
sorted(employees, key=attrgetter('age'))

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]

In [75]:
sorted(employees, key=itemgetter(2))

TypeError: 'Employee' object does not support indexing

the above issue happens due to Python 3 version.

In [76]:
sorted(employees, key=attrgetter('age'), reverse=True)

[('Kevin', 22, 4), ('Peter', 21, 6), ('Simon', 21, 8)]

Let's find the employers whoever is making better money at youner age. For that, we need two sorting option.
<br> Firstly, we need to younger employeer
<br> Secondly, we need to find whoever is making higher salary with the first option included.

In [79]:
young_employees = sorted(employees, key=attrgetter('age'), reverse=False)

In [80]:
young_employees

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]

In [81]:
young_and_higher_salary = sorted(young_employees, key=attrgetter('salary'), reverse=True)

In [82]:
young_and_higher_salary

[('Simon', 21, 8), ('Peter', 21, 6), ('Kevin', 22, 4)]

In [83]:
numbers = [1, 88, 99, 102, 111, 120, 201, 290]
print(numbers)

[1, 88, 99, 102, 111, 120, 201, 290]

In [84]:
def numeric_compare(x, y):
    return x - y

In [89]:
sorted(numbers, cmp=numeric_compare)

TypeError: 'cmp' is an invalid keyword argument for this function

We can clearly see that python 3 doesn't have any cmp param as it is based on 3. Let's fix it.

In [92]:
from functools import *
sorted(numbers, key=functools.cmp_to_key(numeric_compare))

NameError: name 'functools' is not defined

In [93]:
print(sorted(numbers, reverse=True))

[290, 201, 120, 111, 102, 99, 88, 1]

more you can get here:
<br>
https://www.pythoncentral.io/how-to-sort-a-list-tuple-or-object-with-sorted-in-python/

In [94]:
sorted(numbers, key=numeric_compare)

TypeError: numeric_compare() missing 1 required positional argument: 'y'

In [95]:
sorted(employees)

TypeError: '<' not supported between instances of 'Employee' and 'Employee'

In [97]:
sorted(employees, key=attrgetter('age'))

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]

Sort the employees by age

In [98]:
sorted(employees, key=lambda x: x.age)

[('Peter', 21, 6), ('Simon', 21, 8), ('Kevin', 22, 4)]

sol: https://stackoverflow.com/questions/403421/how-to-sort-a-list-of-objects-based-on-an-attribute-of-the-objects

Assignment:
<br>If the age is 20-40, max salary first
<br>If the age is 40+, min salary first