In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()

In [3]:
# Load flight dataset
flights_long = sns.load_dataset("flights")
flights = flights_long.pivot("month", "year", "passengers")

In [4]:
print(type(flights))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(flights.shape)

(12, 12)

In [6]:
print(flights)

year       1949  1950  1951  1952  1953  1954  1955  1956  1957  1958  1959  \
month
January     112   115   145   171   196   204   242   284   315   340   360
February    118   126   150   180   196   188   233   277   301   318   342
March       132   141   178   193   236   235   267   317   356   362   406
April       129   135   163   181   235   227   269   313   348   348   396
May         121   125   172   183   229   234   270   318   355   363   420
June        135   149   178   218   243   264   315   374   422   435   472
July        148   170   199   230   264   302   364   413   465   491   548
August      148   170   199   242   272   293   347   405   467   505   559
September   136   158   184   209   237   259   312   355   404   404   463
October     119   133   162   191   211   229   274   306   347   359   407
November    104   114   146   172   180   203   237   271   305   310   362
December    118   140   166   194   201   229   278   306   336   337   405

year       1960
month
January     417
February    391
March       419
April       461
May         472
June        535
July        622
August      606
September   508
October     461
November    390
December    432